* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  background-color: black;
  padding: 3rem;
  ul {
    display: flex;
    flex-direction: row;
    background-color: rgb(60, 31, 140);
  }
  li {
    background-color: rgb(48, 144, 19);
    list-style: none;
    a {
      text-decoration: none;
      color: white;
      padding: 1rem;
      //   background-color: orangered;
    }
  }
}
